<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100" >

<div class="container text-center">
    <div class="card shadow p-4" style="max-width: 400px; margin: auto; background-color: #eceaea;">
        
        <!-- Imagen superior -->


        <!-- Títulos -->
        <h4 class="mb-4" style="font-size: 1.3rem;">Configuration Options</h4>
        <!-- Formulario con checkboxes -->
        <form action="/finalizar-configuracion" method="post">
            
            <div class="form-check text-start mb-2">
                <input class="form-check-input" type="checkbox" id="op3">
                <label class="form-check-label" for="op3">Audio Capture Options</label>
            </div>
            <div class="form-check text-start mb-2">
                <input class="form-check-input" type="checkbox" id="op4">
                <label class="form-check-label" for="op4">Night Vision Configuration</label>
            </div>
            <div class="form-check text-start mb-2">
                <input class="form-check-input" type="checkbox" id="op5">
                <label class="form-check-label" for="op5">Network Streaming Settings</label>
            </div>
            <div class="form-check text-start mb-2">
                <input class="form-check-input" type="checkbox" id="op6">
                <label class="form-check-label" for="op6">Video Resolution Settings</label>
            </div>
            <div class="form-check text-start mb-2">
                <input class="form-check-input" type="checkbox" id="op7">
                <label class="form-check-label" for="op7">Camera Pan and Tilt Controls</label>
            <br/>
            <br/>
            <br/>
            <!-- Botón Aceptar -->
            <button type="submit" 
                    class="btn w-100"
                    style="background-color: #5f0606; color: white; border: none;">
                Continue
            </button>
        </form>
    </div>
</div>

</body>
</html>